#  Assignment 1 > An Analytical Detective

## Problem 1.1 - Loading the Data

(1 point possible)
Read the dataset mvtWeek1.csv into R, using the read.csv function, and call the data frame "mvt". Remember to navigate to the directory on your computer containing the file mvtWeek1.csv first. It may take a few minutes to read in the data, since it is pretty large.

In [22]:
mvt <- read.csv("mvtWeek1.csv",header =TRUE)

 use the str and summary functions to answer the following questions.

In [23]:
str(mvt)

'data.frame':	191641 obs. of  11 variables:
 $ ID                 : int  8951354 8951141 8952745 8952223 8951608 8950793 8950760 8951611 8951802 8950706 ...
 $ Date               : Factor w/ 131680 levels "1/1/01 0:01",..: 42824 42823 42823 42823 42822 42821 42820 42819 42817 42816 ...
 $ LocationDescription: Factor w/ 78 levels "ABANDONED BUILDING",..: 72 72 62 72 72 72 72 72 72 72 ...
 $ Arrest             : logi  FALSE FALSE FALSE FALSE FALSE TRUE ...
 $ Domestic           : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ Beat               : int  623 1213 1622 724 211 2521 423 231 1021 1215 ...
 $ District           : int  6 12 16 7 2 25 4 2 10 12 ...
 $ CommunityArea      : int  69 24 11 67 35 19 48 40 29 24 ...
 $ Year               : int  2012 2012 2012 2012 2012 2012 2012 2012 2012 2012 ...
 $ Latitude           : num  41.8 41.9 42 41.8 41.8 ...
 $ Longitude          : num  -87.6 -87.7 -87.8 -87.7 -87.6 ...

In [24]:
summary(mvt)

       ID                      Date
 Min.   :1310022   5/16/08 0:00  :    11
 1st Qu.:2832144   10/17/01 22:00:    10
 Median :4762956   4/13/04 21:00 :    10
 Mean   :4968629   9/17/05 22:00 :    10
 3rd Qu.:7201878   10/12/01 22:00:     9
 Max.   :9181151   10/13/01 22:00:     9
                   (Other)       :191582
                     LocationDescription   Arrest         Domestic
 STREET                        :156564   Mode :logical   Mode :logical
 PARKING LOT/GARAGE(NON.RESID.): 14852   FALSE:176105    FALSE:191226
 OTHER                         :  4573   TRUE :15536     TRUE :415
 ALLEY                         :  2308   NA's :0         NA's :0
 GAS STATION                   :  2111
 DRIVEWAY - RESIDENTIAL        :  1675
 (Other)                       :  9558
      Beat         District     CommunityArea        Year         Latitude
 Min.   : 111   Min.   : 1.00   Min.   : 0      Min.   :2001   Min.   :41.64
 1st Qu.: 722   1st Qu.: 6.00   1st Qu.:22      1st Qu.:2003   1st Qu.:41.77
 Median :1121   Median :10.00   Median :32      Median :2006   Median :41.85
 Mean   :1259   Mean   :11.82   Mean   :38      Mean   :2006   Mean   :41.84
 3rd Qu.:1733   3rd Qu.:17.00   3rd Qu.:60      3rd Qu.:2009   3rd Qu.:41.92
 Max.   :2535   Max.   :31.00   Max.   :77      Max.   :2012   Max.   :42.02
                NA's   :43056   NA's   :24616                  NA's   :2276
   Longitude
 Min.   :-87.93
 1st Qu.:-87.72
 Median :-87.68
 Mean   :-87.68
 3rd Qu.:-87.64
 Max.   :-87.52
 NA's   :2276

How many rows of data (observations) are in this dataset?

In [25]:
nrow(mvt)

[1] 191641

How many variables are in this dataset?

In [26]:
ncol(mvt)

[1] 11

Using the "max" function, what is the maximum value of the variable "ID"?

In [27]:
max(mvt$ID, na.rm = TRUE)

[1] 9181151

What is the minimum value of the variable "Beat"?

In [28]:
min(mvt$Beat, na.rm = TRUE)

[1] 111

How many observations have value TRUE in the Arrest variable (this is the number of crimes for which an arrest was made)?